@media(min-width:1000px){
    header nav,
    main p,
    footer p {
        width: 1000px;
        margin: 0 auto;
    }
    h1 {
        font-size: 26px;
        display: inline-block;
        font-weight: bold;
    }
    h2 {
        margin-top: 2em;
        font-size: 55px;
        font-weight: bold;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 2.5em;
    }
    nav ul{
        display: inline-block;
        margin: 2em 0 1em 29em;

    }
    nav li {
        display: inline-block;
        margin-right: 2em;

    }
    nav a {
        font-size: 12px
    }
    .button {
        margin: 3em auto 5em auto;
    }
    section img {
        width: auto;
        margin: 5em 2em 0 0;
    }
    p {
        font-size: 17px;
        line-height: 2em;
    }
    footer p {
        font-size: 12px;
    }
}
